/* Centers Ben Adam's logo on Desktop*/
.navbar .container-fluid {
    justify-content: center;
}

/* Logo sizing - Desktop 150px */
.logo {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px !important;
    height: 150px !important;
}

/* Make the logo go to the left when using a mobile device */
@media (max-width: 1450px) {
    .navbar .container-fluid {
        justify-content: flex-start;
    }

    .logo {
        position: relative;
        margin-top: auto;
        left: 0;
        transform: none;
        margin-right: auto;
        width: 75px !important;
        height: 75px !important;
    }
}

/* Background gradient and spacing for the background */
header nav {
    width: 100%;
    padding: 22px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #EB8A93, #95B1D9);
    z-index: 999;
}

/* Mobile: nav flexbox to space-between for left alignment */
@media (max-width: 767.98px) {
    header nav {
        justify-content: space-between;
    }
}

/* General heading styles */
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li a {
    margin: 0 20px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 0.55s;
}

header {
    font-weight: 400;
    font-size: 24px;
    position: sticky !important; /* Makes the header stay at the top of the screen */
    top: 0 !important;
    z-index: 999 !important;
}

header {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

/* Button reset */
.custom-toggler {
  border: none;
  padding: 0.5rem;
}

.custom-toggler:focus {
  box-shadow: none;
}

/* Hamburger for mobile devices styles */
.hamburger {
  position: relative;
  width: 28px;
  height: 2px;
  background-color: #000;
  display: block;
}

/* Top & bottom lines */
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #000;
  left: 0;
  transition: transform 0.3s ease, top 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

/* X animation */
.custom-toggler[aria-expanded="true"] .hamburger {
  background-color: transparent;
}

.custom-toggler[aria-expanded="true"] .hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

.custom-toggler[aria-expanded="true"] .hamburger::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Resets the Boostrap hamburger so I can customize it */
.custom-toggler {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  min-width: unset !important;
  min-height: unset !important;
}

/* Remove focus/active styles */
.custom-toggler:focus,
.custom-toggler:active {
  outline: none;
  box-shadow: none;
}

.custom-toggler {
  padding: 10px;
}